.container 
    container-fixed()
    width 100%

    @media $sm
        max-width $container-sm
  
    @media $md
        max-width $container-md

    @media $lg
        max-width $container-lg

    @media $xl
        max-width $container-xl