$color-1 = #D2D2D3
$color-2 = #1D1F24
$color-3 = #BBBCBD
$color-4 = white

$bg-color = #F9FAFC

$border-color = #EBEBEB

$screen-sm-min = 576px
$screen-md-min = 768px
$screen-lg-min = 992px
$screen-xl-min = 1200px

$sm = "screen and (min-width: " + $screen-sm-min + ")"
$md = "screen and (min-width: " + $screen-md-min + ")"
$lg = "screen and (min-width: " + $screen-lg-min + ")"
$xl = "screen and (min-width: " + $screen-xl-min + ")"

$container-sm = 720px
$container-md = 960px
$container-lg = 1140px
$container-xl = 1440px

$font-family = 'Lato', sans-serif;