@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@300;400;500;700&display=swap');
:root {
    --gray-color: #707070;
    --pink-color: #FF565C;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gray-color);
}

ul li {
    list-style: none;
}
