@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@300;400;500;700&display=swap');
:root {
  --gray-color: #f9fafc;
  --pink-color: #ff565c;
  --logo-color: #707070;
  --gray-text: rgba(112, 112, 112, 0.4);
  --dark-text: #24262B;
--dark-color: #1D1F24;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--gray-color);
  font-family: 'Lato', sans-serif;
  color: var(--dark-text);
}

ul li {
  list-style: none;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--logo-color);
}

.logo span {
  color: var(--pink-color);
  letter-spacing: 1px;
}