@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap')
Fuente1= 'Lato', sans-serif

Fuente2= 'Oswald', sans-serif
colorOscuro= #1D1F24
colorClaro= #D2D3D4
colorpunto= #FF565C

*{
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Fuente1
  font-size 16
}

body
  max-width 1440px
  margin 0 auto