@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:300,400,700&display=swap');

// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;
*
  margin 0
  padding: 0

body
  background: white
  font-family: Arial, Helvetica, sans-serif
  font-family: 'Lato', sans-serif