*
  margin 0
  padding: 0
  font-family: sans-serif
  list-style none
  text-decoration: none
  box-sizing: border-box
.appContainer 
  display grid
  grid-template-columns: 1fr
  grid-gap: 1em
  grid-template-rows: auto auto auto
  

  
  
    
 
      
    