.articles--item {
  display: flex;
  flex-direction: column;
  grid-row-end: auto;
  position: relative;
}
.articles--item img {
  width: 100%;
}

/* .articles--item h2 {
	margin: 15px;
} */

.large {
  grid-row-end: span 3;
}

.short {
  grid-row-end: span 2;
}

.articles--item-box {
  position: absolute;
  /* top: 100px; */
  bottom: 211px;
  left: -5px;
  width: 130px;
  background-color: #ff565c;
  padding: 15px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
