.Article__container
    font-family: Lato
    font-size: 24px
    color: #1D1F24
    margin-bottom: 10px
    
    
    &--img
        position: relative
        div 
            position: absolute
            bottom: 10%
            left: -5px
            color: white
            font-size: 14px
            letter-spacing: 1px
            font-family: Oswald
            text-transform: uppercase
            background-color: #FF565C
            padding: 8px 30px

    &--img figure
        /* max-width 100% */
        margin: 0
        margin: 10px 0
        img 
            width: 100%


    &--content h3, p 
        margin: 0 0 10px
    
    p 
        font-weight: normal
        font-size: 18px