width-card-diff = 4px

.card
  display: flex
  justify-content: flex-end
  width: 100%
  &__container
    width: 100% - width-card-diff
  &-figure
    position: relative
    width: 100%
    &__img
      width: 100%
    &__caption
      position: absolute
      bottom: 20px + width-card-diff
      left: -(width-card-diff)

.card-text
  &__title
    font-size: fontSize--titleCard
    line-height: 1.153em
  &__descrip
    line-height: 1.55em