.Card
   display: inline-block;
   margin: 3px 0 ;
   width: 90%;
   text-align: start
   &__img
       position relative
       & > img
         border: 1px solid transparentify(dark-color, 0.5);
         width 100%
       &-tag
        width 150px
        height 30px
        position absolute
        bottom:5%
        display: flex
        justify-content: center
        align-items: center
        background-color: primary-color
        color: light-color


