.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 40px;
}

.card.card--level2 {
  grid-row-end: span 2;
}

.card.card--level1 {
  grid-row-end: span 1;
}

.card__image {
  position: relative;
}

.card__image span {
  background-color: var(--pink-color);
  padding: 10px 15px;
  color: white;
  position: absolute;
  left: -5px;
  bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.card__image img {
  width: 100%;
}

.card__info .card__title {
  font-size: 26px;
  padding: 1em 1.5em 1em 0;
}

.card__info .card__description {
  font-size: 18px;
  color: var(--gray-text);
}

