.Card
   display: inline-block;
   margin: 3px;
   width: 90%;
   &__img
       position relative
       & > img
         border: 1px solid dark-color
         width 100%
       &-tag
        width 150px
        height 30px
        position absolute
        bottom:5%
        display: flex
        justify-content: center
        align-items: center
        background-color: primary-color
        color: light-color


