.Cart
  padding: 1em
  &--image
    img
      width: 100%
    span
      background-color:#ff565b
      color: white
      padding: 1em 1.4em
      text-transform uppercase
      position relative
      bottom: 50px
      right: 8px
  &--description
    h2
      font-size: 1.5em
      text-transform capitalize
      margin: 0
      margin-bottom: 10px
    p
      color: gray
      font-size 1.2em