@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

.cart
    width 100%
    overflow: visible;
    display: flex
    flex-direction: column
    height auto

.cart-imgContainer
    width 100%
    position relative
    display flex
    align-items end


.cart-imgContainer__img
    width 100%


.cart-imgContainer__redTitleContainer
    color #fff
    position:absolute
    height 100%
    width 100%
    display flex
    align-items flex-end
    font-family Oswald
    overflow: visible;


.imgContainer-redTitleContainer__redTitle
    background: #ff565a
    padding 2%
    margin 0 0 5% 0
    font-size 107%
    position relative
    text-align center
    right 2%
    overflow: visible;


.cart-description
    font-family: lato

.cart-description__paragraph 
    color #838488
