@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@500&display=swap');
font1 = 'Lato', sans-serif
font2 = 'Oswald', sans-serif
*
  box-sizing: border-box
  margin: 0
  font-family: 'Lato', sans-serif

section
  display: grid
  grid-template-columns: 40% 40% 20%
  background-color: #f9fafc
  padding: 20px 30px
  .card
    img 
      100%
    width: 200px
    position relative
    .category
      text-align: center
      height 35px
      position: absolute
      top: 140px
      left: -3px
      background-color: #ee5359