.Cover
  width 100%
  height 100%
  position relative
  &__img
    width 100%
    height 100%
    position: absolute
    z-index -1
  &__content
      height 100%
      display: grid
      grid-template-areas: "tag" "title" "description" "action"
      justify-items: center
      background-color: transparentify(dark-color, 0.5)
      color: light-color
      &-tag
        align-self: center
        grid-area: tag
        background-color: primary-color
        width:150px
        height 40px
        display: flex
        justify-content: center
        align-items: center
      &-title
        grid-area: title
        align-self: end
        justify-content: center
        width 80%
      &-description
        grid-area: description
        width 80%
      &-actions
        grid-area: action
        width 40%
        @extends .action
.Cover-sm > .Cover__content
  & > .Cover__content-tag
    margin-top: 2%
    justify-self: left
    width:150px
    height 40px
  & > .Cover__content-title
    align-self: center
    font-size: 15px
  & > .Cover__content-description
    grid-area: description
  & > .Cover__content-actions
    grid-area: action
    width 40%
    display: flex
    justify-content: space-evenly
    &-icon:hover
      color: primary-color

.Cover-Carrusel > .Cover__content
  text-align: center