@font-face {
  font-family: Lato-Regular;
  src: url(../../../resources/fonts/Lato/Lato-Regular.ttf);
}
@font-face{
	font-family: Oswald-Regular;
  src: url(../../../resources/fonts/Oswald/Oswald-Regular.ttf);
}

HeaderColor = #a6a6a6
LightColor = white
PrimaryColor = #FF565B
BackgroundColor = #F9FAFC
ColorHover = #ff0a11
FooterBackground = #1e1f24
Family = Lato-Regular, sans-serif
Family2 = Oswald-Regular, sans-serif

*{
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	outline: none;
}
* a{
	color: black
	text-transform: uppercase;
}