.footer
    width: 100%
    max-height: 150px
    background-color #1e1f24
    display: grid
    grid-template-columns: 30% 40% 30%
    font-family: 'Lato', sans-serif;
    

.footer__brand 
    padding: 20px
    grid-column: 1/2
    place-self: center
    color: #bbbcbe

.footer__brand p
    font-size: 13px
    padding-left: 5px

.footer__navbar
    grid-column: 2/3
    font-family: 'Oswald', sans-serif
    display: flex;
    justify-content: flex-start
    align-items: center;

    
.footer__navbar--list
    display: flex
    flex-direction: row
    flex-wrap: wrap

.footer__navbar--list li
    padding: 10px
    list-style: none

.footer__navbar--list li a
    text-decoration: none
    color: #ffffff

.footer__navbar--list li a:hover
    color: #a8a9aa

.footer__subscrite
    width 80%
    grid-column: 3/4
    color white
    place-self: center

.footer__subscrite p
    font-size: 13px
    color: #bbbcbe
    padding: 10px 0

.footer__subscrite p i
    padding: 0 5px
    font-size: 15px
    cursor: pointer

.footer__subscrite--form
    width 100%

.footer__subscrite--form input[type=email]
    padding: 10px
    outline: none
    border: none
    font-family: 'Oswald', sans-serif
    width 50%

.footer__subscrite--form button
    background-color #ff565b
    padding: 10px
    color: #fff
    font-family: 'Oswald', sans-serif
    outline: none
    border: none