.input
  height 54px
 &::placeholder
   display: flex
   padding-left: 20px

.btn
  background-color: primary-color
  color: light-color
  border: none
  &-trasnparent
    background-color: transparent
    border: 1px solid light-color
    border-bottom: 3px solid light-color
    color light-color
    font-family: 'Oswald', sans-serif;
    font-weight: 900
    font-size: 0.8em

@media (min-width: 760px)
  .input
    font-size: 12px
    height 18px
    border: none
  &::placeholder
    padding-left: 5px
    font-size: 12px
    display: flex
    align-content: center    
  .btn
    font-size: 0.8em
    font-weight: 900
    height 20px
    border: none
