.input
  height 54px
  font-size: 30px
 &::placeholder
   display: flex
   padding-left: 20px
   font-size: 30px

.btn
  background-color: primary-color
  color: light-color
  border: none
  font-size: 30px
