@import './styles.styl'

header
  background-color: $color-4
  border-bottom 1px solid $border-color
  padding: 0 20px

  nav
    height: 70px
    display: flex
    align-items: center
    justify-content: space-between

    .logo
      margin-right 40px

    #top-menu
      display none

      li
        margin-right 60px

        a
          color $color-1

          &:hover
            color $color-2


    .toggle
      
      label
        cursor pointer

  #toggle-checkbox
    display none

    &:checked
      & + #top-menu
        display block

@media $sm
  header
    nav
      height: 90px

@media $lg
  header
    padding-left: 40px
    padding-right: 40px
    nav
      .logo
        margin-right: 60px
  
      .toogle
        margin-left: 60px
    
@media $xl
  header
    nav
      .menu-container
        #top-menu
          display: flex
