
.Header{
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Oswald', sans-serif;

    &__logo{
        font-size: 1.6em;

        & span{
            color: red;
        }

    }

    &__icon{
        width: 20px;

        &:hover{
            cursor: pointer;
        }
    }

}