.email-subscribe
  position: relative
  height: fontSize--base * 2
  &__input
    height: 100%
    padding-left: 1em
    border: none
    font-size: fontSize--small
  &__btn
    position: absolute
    height: inherit
    border: none
    font-size: fontSize--smallest
    @extend .label-category
    @extend .label-category__text
