@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');


.containerItem
  width 90%
  height auto
  margin 0 auto 40px
  break-inside avoid
  page-break-inside avoid
  font-family Lato-Medium
  img 
    width 100%
    border 1px solid gray
  h2
    font-family 'Oswald', sans-serif
  p
    font-family 'Lato', sans-serif


@media (max-width: 480px) {
  .containerItem {
    width 100%
  }
}