.label-category
  width: fit-content
  background-color: bgColor__label-category

.label-category__text
  padding: padTB-labelCategory padLR-labelCategory
  color: fontColor--alternative
  @extend .labelsAndLinkNav
