.layout
  padding: 2em
  display: grid
  grid-template-columns: repeat(3, 350px)
  grid-template-rows: repeat(3, 200px)
  justify-content: center

.Cart-small
  grid-row-end: span 2

.Cart-large
  grid-row-end: span 3
