.logo
  font-size 25px
  font-weight bold
  color #707070

.logo span
  color #ff565c
  letter-spacing 1px

@media screen and (max-width: 950px)
  .logo
    position: absolute;
    top: 30px;
    left: 35px;
    font-size 25px
    font-weight bold
    color #707070
  .logo span
    color #ff565c
    letter-spacing 1px

