.logo
  display: inline-block
  min-width: 2.5em
  min-height: 1.25em
  font-size: fontSize--logo
  &__point
    display: inline-block
    width: 4px
    height: 4px
    background-color: colorBrand--secondary

