@media screen and (max-width: 425px) 
    .container
        display: block
        
    .footer
        display: block

    .item img
        width: 100%
    
    .item__tag
        width: 45%
        p
            font-size: 1rem
            top: -100px
    
    .item__content 
        margin-top: 3px
        h3
            font-size: 2rem
        p
            font-size: 1rem
    
    .footer__item
        display: none
    
    .mobile__item
        display: flex
        padding-left: 20px
        padding-bottom: 15px
        text-transform: uppercase
        font-family: 'Oswald', sans-serif;
        font-size: 1.2rem
        &-02
            padding-left: 20px

    .footer__social
        padding-left: 20px
    
    .footer__brand
        padding: 25px 0 0 20px
        font-size: 1.2rem
    
    .footer__form input, button
        font-size: 1.2rem
