// @media screen and (max-width: 768px) 
@media screen and (max-width: 768px)

    .navbar
        padding: 1rem
        h2
            font-size: 3rem
            margin: 0
    .navbar__list
        display: none

    .container
        grid-template-columns: repeat(2, 1fr)

    .item__content h3
        font-size: 2rem
    
    .item__content p
        font-size: 1rem
    
    .level-1
    grid-row-end: span 3

    .level-2
        grid-row-end: span 2

    .level-3
        grid-row-end: span 2
    
    .footer
        grid-template-columns: 25% 25% 25% 25%
        grid-auto-rows: 50% 50%
