.nav
  display: flex
  flex-direction: column

.nav__item
  width: 100%
  padding: 0.4em 0em
  color: rgba(fontColor--base, 20%)
  font-family: fontFamily--secondary
  font-size: fontSize--small
  font-weight: 700
  text-transform: uppercase
  text-align: center
  line-height: 21px
  letter-spacing: 1.75px
  &:hover
    color: rgba(fontColor--base, 100%)