.Nav ul
  font-family 'Oswald', sans-serif;
  color #1D1F24
  display flex
  list-style none
  li
    margin-right: 10px
    a
      color: #1D1F24
      opacity: .5
      text-decoration: none
      &:hover
        opacity: 1
        text-decoration underline
