.Nav2
  //display flex
  grid-area Nav
  ul
    font-family 'Oswald', sans-serif;
    color white
    display flex
    list-style none
    display flex
    flex-flow column    
    li
      margin-right: 10px
      a
        color: white
        opacity: .5
        text-decoration: none
        &:hover
          opacity: 1
          text-decoration underline
