.navbar
  width 100%
  height 80px
  font-family lato
  color gray
  padding 0 30px
  display flex
  justify-content space-between
  align-items center  
  ul
    display flex
    height 100%
    justify-content center
    li
      margin 0 10px
      list-style none
      align-self center
      cursor pointer 
    :hover
      color black   

@media (max-width: 480px) {
  .navbar ul {
    display none 
  }
}