
$globalcolor = #F5F6F7


.container__news
  margin 0 auto
  display flex
  justify-content center
  //border 1px solid blue
  &__cards
    columns 3 432px
    margin:  0 auto
    width 100%
    gap 1em
    background-color $globalcolor
    //border 1px solid red

.container__item
  display inline-block
  border-radius 5px
  padding .5em
  margin 1em

  &--img
    margin-top: .1em
    width: 100%

  &--title
    width: 100%

  &--description
    width: 100%