$globalcolor = #F9FAFC

.container__news
  border 1px solid blue
  display: flex
  justify-content: center

  &__cards
    margin: 2em
    display grid
    grid-template-columns repeat(auto-fill, minmax(432px, 1fr))
    border 1px solid red
    width: 90%
    justify-content: center
    align-content: center
    

.container__item
  width: 432px
  background-color: navy
  margin 0 auto

 //   display grid
 // gap 2em
 // grid-template-columns repeat(auto-fill, minmax(432px, 1fr))
 // grid-auto-rows: row-dense
 // border 1px solid orange
 // background-color $globalcolor