.product__container
  display grid
  // grid-template-columns 1fr
  grid-gap 16px
  padding 16px
  padding-top: 50px
  background-color #f9fafc
  justify-content center
  grid-template-columns repeat(auto-fill, 350px)
  grid-auto-rows: repeat(auto-fill, max-content)
      