.productcard
  width 100%
  margin-top 30px
  &__image
    width 100%
    height 260px
    overflow hidden
    img
      width 100%
      height 100%
      object-fit cover
  &__tag
    position relative
    top 230px
    left -10px
    background #FF565C
    color white
    padding: 9px 24px
    font-sze 14px

  &__title
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin 0
    margin-top 19px
  &__description
    display: -webkit-box;
    -webkit-line-clamp 3
    -webkit-box-orient vertical
    overflow hidden
    margin 11px 0
    line-height 1.7


