.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 436px);
  grid-gap: 30px;
  justify-content: center;
  padding: 42px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .section {
    grid-template-columns: repeat(auto-fill, 360px);
    grid-gap: 10px;
    padding: 10px;
  }
}
@media (max-width: 700px) {
  .section {
    grid-template-columns: repeat(auto-fill, 339px);
  }
}