@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body
  margin 0
  padding 0
  box-sizing border-box

img
  width 100%

h2, h3, h4, a, button
  font-family Oswald

h1, p
  font-family Lato

@media screen and (max-width: 600px) 
  h3
    font-size 16px
  p
    font-size 12px