
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:200,300,400,500,600,700&display=swap')

header-color = #D7D7D8
tags-color = #FF555B
footer-bgcolor = #1D1E24
font-color = #6F7174
grid-bgcolor = #F9FAFC
font1 = 'Lato', sans-serif
font2 = 'Oswald', sans-serif


body
  margin 0
  padding 0
  font-family font1


