/***
 *    .██████╗.█████╗.██████╗.██████╗.
 *    ██╔════╝██╔══██╗██╔══██╗██╔══██╗
 *    ██║.....███████║██████╔╝██║..██║
 *    ██║.....██╔══██║██╔══██╗██║..██║
 *    ╚██████╗██║..██║██║..██║██████╔╝
 *    .╚═════╝╚═╝..╚═╝╚═╝..╚═╝╚═════╝.
 *    ................................
 */
@import '../Vars.styl';

.Card
  display: inline-block
  width 100%
  margin-bottom 60px
  &__image
    img
      width: 100%
  &__label
    width fit-content
    padding 10px 25px
    background-color: color-brand
    color: color-white
    font-family: font2
    position: absolute
    margin-top: -5%
    margin-left: -6px
    p
      font-size 14px
      margin 0
      letter-spacing: 1.75px
  &__title
    letter-spacing: -0.22px
    line-height: 1.15
  &__description
    opacity 0.7
    font-size: 18px
    letter-spacing: 1.56
    p
      margin-bottom 0px