@import './App.styl'

 .container
    display grid
    grid-template-columns repeat(3, 1fr)
    padding 30px
    gap 20px
    background-color grid-bgcolor
    border-top 1px solid border-color


@media screen and (max-width 800px)
  .container
    grid-template-columns repeat(2, 1fr)
   

@media screen and (max-width 575px)
  .container
    grid-template-columns 1fr
