@import './App.styl'

 .container
    display grid
    grid-template-columns repeat(3, 1fr)
    padding 25px
    gap 16px
    margin 20px
    background-color #F9FAFC



/*

@media screen and (min-width 768px)
  .container
    display grid
    grid-template-columns repeat(2, 1fr)
    gap 15px
    padding 25px
    margin 20px
    background-color #F9FAFC

@media screen and (max-width 375px)
  .container
    display grid
    grid-template-columns repeat(3, 1fr)
    gap 15px
    padding 25px
    margin 20px
    background-color #F9FAFC

  .item-1
    grid-row-end span 2
    background-color red */