@import './App.styl'

.DeckCard
  background-color #F9FAFC

.DeckCard--imgContainer
  position relative

.DeckCard--imgContainer figure 
  margin 0

.DeckCard--imgContainer figure img 
  width 100%
  vertical-align: top;

.DeckCard--tag
  position: absolute;
  text-align: center;
  background-color tags-color
  color #ffffff
  padding 7px 20px
  position absolute
  top 80%
  left -5px
  text-transform uppercase
  font-family font2
  font-size 14px

.DeckCard--title
  font-family font1
  font-size 24px

.DeckCard--description
  color font-color
  margin-right 10px

.big
  grid-row-start span 3

.small
  grid-row-start: span 2 
