@import './App.styl'

.DeckCard
  width 430px
  background-color #F9FAFC
  padding 0 0 20px 5px
  position relative

.DeckCard--tag
  background-color tags-color
  color #ffffff
  padding 10px 20px
  position absolute
  top 150px
  left 0


.DeckCard--title
  font-family 'Lato', sans-serif
  font-size 24px

.DeckCard--description
  color font-color
  margin-right 10px

