.logo
  font-size 25px
  font-weight bold
  color #707070

.logo span
  color #ff565c
  letter-spacing 1px

.header
  height 90px
  display grid
  grid-template-columns 1fr 1fr 1fr
  align-items center
  padding: 0 2%
  font-family font1
  background-color #f9fafc
  &__nav
    display initial
    text-transform uppercase
    color #D2D2D4
    font-size 14px
    letter-spacing 3px
    font-family font2;
    ul
      display flex
      justify-content space-evenly
      li
        padding 10px
  &__icon-burger
    justify-self flex-end