@import './App.styl'

header
  width 100%
  display flex
  align-items center
  justify-content space-between
  color header-color
  padding-top 25px
  font-family 'Oswald', sans-serif;

.header__logo 
  margin-right 20px
  font-weight 700
  font-family 'Lato', sans-serif

.header__logo--color1
  color footer-bgcolor

.header__logo--color2
  color tags-color

nav
  display flex
  justify-content flex-start
  align-items center

nav ul 
  display flex
  list-style none

nav ul li 
  margin-right 50px

nav ul li a
  text-decoration none
  color header-color


.nav__icon {
    margin: 0 30px 0 0;
    font-size: 26px;
    width: 26px;
    float: right;
    color footer-bgcolor
}
#toggle {
    display: none;
}
  
