/***
 *    .██████╗.██╗...██╗██╗███████╗██████╗.██╗███████╗███████╗
 *    ██╔═══██╗██║...██║██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
 *    ██║...██║██║...██║██║█████╗..██████╔╝██║█████╗..███████╗
 *    ██║▄▄.██║██║...██║██║██╔══╝..██╔══██╗██║██╔══╝..╚════██║
 *    ╚██████╔╝╚██████╔╝██║███████╗██║..██║██║███████╗███████║
 *    .╚══▀▀═╝..╚═════╝.╚═╝╚══════╝╚═╝..╚═╝╚═╝╚══════╝╚══════╝
 *    ........................................................
 */
// @import '../Vars.styl';

//   @media only screen and max-width(668px) {
//     .CardList
//       padding: 40px 20px
//   }