*{
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Lato','Oswald','sans-serif';
    font-size: 13px;
}
.Header{
    margin: 0 30px;
    display: flex;
    background-color: white;
    
}
.Header__logo{
    font-size: 1.8em;
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    font-weight: bold;
    line-height: 70px;
}
.Header__nav {
    height: 70px;
    text-align: right;
    line-height: 70px;
    text-transform: uppercase;
    width: 100%;
}
.Header__menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 0 0;
}
.Header__menu li {
    clear: right;
    margin: 0 20px
}
.Header__menu li a {
    color: rgb(170, 170, 170);
    font-weight: bold;
    font-size: .9em;
    letter-spacing: .1em;
    line-height: 70px;
    font-family: 'Oswald','sans-serif';
}
.Header__nav label {
    margin: 0 40px 0 0;
    font-size: 2em;
    line-height: 70px;
    float: right;
    display: none;
}
#toggle {
    display: none;
}
.Main{
    display: block;
    margin: 0px;
    background: #f2f2f2;
    max-width: 100% ;
}
.Main__container {
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, 33%));
    grid-gap: 5px;
    justify-content: center;
    max-width: 100%;
}
.Main__item{
    padding: 10px;
    background: #f2f2f2;
}
.Main__item img{
    width: 100%;
    vertical-align: top;
}
.Main__item__label{
    display: flex;
    background-color: #ff555a;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald','sans-serif';
    font-weight: bold;
    font-size: .7em;
    letter-spacing: .1em;
    width: 9em;
    height: 3em;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4.5em;
    left: -4px;
}
.Main__item__title {
    /* font-family: 'Oswald','sans-serif';*/
    margin-top: 1em;
    font-family: 'Lato';
    font-size: 1.5em;
    width: 90%;
}
.Main__item_text{
    width: 95%;
    padding: 1em 0;
    line-height: 1.5em;
    color: #5f5e5e;
}
.level-1 {
    grid-row-end: span 3;
}
.level-2 {
    grid-row-end: span 2;
}
.level-3 {
    grid-row-end: span 3;
}
.Footer{
    display: block;
    background-color: #1e1f24;
    color: #616266;
}
/* Media Queries */

@media only screen and (max-width: 320px) {
    .Main__container {
        margin: 0 20px;
        display: grid;
        grid-template-columns: minmax(80%, 100%);
        grid-gap: 0px;
        justify-content: center;
        max-width: 100%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 720px) {
    .Main__container {
        margin: 0 0px;
        display: grid;
        grid-template-columns: repeat(2, minmax(40%, 50%));
        grid-gap: 5px;
        justify-content: center;
        max-width: 100%;
    }
    .Header{
        margin: 0;
    }
}

@media only screen  and (max-width: 720px) {
    .Header__nav label {
        display: block;
        cursor: pointer;
        text-align: right;
        margin: 0 10px 0 0;
    }
    .Header__menu {
        display: none;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #c2bebe;
    }
    .Header__menu li {
        border-bottom: 1px solid grey;
    }
    #toggle:checked + menu {
        background-color:#FFF;
        display: block;
        overflow: hidden;
        position: relative;
        left: -60px;
        z-index: 1;
    }
    .Header__logo {
        margin: 0 0 0 10px;
    }

}