<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:400,500,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>Content of footer</header>
    <div class="container">
      <div class="card">
        <div class="card--content">
          <img
            class="card--content-img"
            src="https://i.pinimg.com/236x/68/c2/db/68c2dbe8b95db095ab27930c1b6a708b.jpg"
          />
          <div class="card--content__description">
            <p class="description--title">
              Using banner stand to increase trade show traffic
            </p>
            <p class="description--desc">
              There is a lot of exciting stuff going on in the stars above us
              the make astronomy so mouch fun.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer>Content of footer</footer>
    <script src="script.js"></script>
  </body>
</html>
