.CategoryA
  display: grid
  grid-template-areas: "infografia" "cards"
  grid-template-columns: 100%
  &__content
    grid-area: cards
    height 50vh
    text-align: center
    @extend .styleScroll

@media (min-width: 768px)
  .CategoryA
    &__content
      &-cards
        text-align: center
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
        -moz-column-gap: 1em; /* Firefox */
        column-gap: 1em;

@media (min-width: 960px)
    .CategoryA
      grid-template-areas: "cards infografia"
      grid-template-columns: 60% 40%
      &__content
        height 80vh
