@media (min-width: 768px)
  .Home
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;

@media (min-width: 960px)
  .Home
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 1rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 1rem; /* Firefox */
    column-gap: 1rem;