.HomeC
  padding-top: 2%
  display: grid
  grid-template-areas: "card1 bgcard card2" "comment comment comment" "card3 card4 card5"
  grid-template-columns: 100%
  grid-template-rows: 50vh 45vh 35vh 35vh 50vh 35vh 35vh 35vh 
  &-card1
    grid-area: card1
    padding: 2%
    display: flex;
    justify-content: center;
  &-card2
    padding: 2%
    display: flex;
    justify-content: center;
    grid-area: card2
  &-card3
    padding: 2%
    grid-area: card3
    display: flex;
    justify-content: center;
  &-card4
    padding: 2%
    grid-area: card4
    display: flex;
    justify-content: center;
  &-card5
    padding: 2%
    grid-area: card5
    display: flex;
    justify-content: center;
  &-avatar
    padding: 2%
    grid-area: comment
    display: grid
    grid-template-columns: repeat(3, 1fr)
    display: flex;
    justify-content: center;
  &-bgcard
    grid-area: bgcard
    display: flex;
    justify-content: center;
    


@media (min-width: 768px)
  .HomeC
    grid-template-areas: "carrusel carrusel" "info md" "info sm" "bgcard bgcard" "sm2 sm3" "sm1 sm1"
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 50vh repeat(5, 25vh)
@media (min-width: 980px)
  .HomeC
    grid-template-areas: "card1 bgcard card2" "comment comment comment" "card3 card4 card5"
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 50% repeat(2, 1fr)
    justify-content: center
      