.home
  display: flex
  justify-content: center
  margin: 30px 0 80px 0px
  padding-left: 16px
  padding-right: 20px
  background-color: bgColor--primary
  &-container
    max-height: 1000px
    overflow-y: auto
    scroll-behavior: smooth
    display: grid
    grid-template-rows: auto
    grid-template-columns: auto
    column-gap: 12px
    background-color: rgba(bgColor--secondary, 30%)
    &::-webkit-scrollbar
      display: none;
    &__col
      display: flex
      flex-direction: column
      justify-content: flex-start
      min-width: 339px
      max-width: 360px
      @media screen and (min-width: mediaQuery__breakP--tablet)
        min-width: 360px
        max-width: 436px
    & .card
      margin-bottom: 50px
    @media screen and (min-width: mediaQuery__breakP--tablet)
      max-height: 1450px
      grid-template-columns: repeat(2, 1fr)
    @media screen and (min-width: mediaQuery__breakP--desktop)
      grid-template-columns: repeat(3, 1fr)
      column-gap: 28px
  @media screen and (min-width: mediaQuery__breakP--tablet)
    margin-bottom: 120px
    padding-left: 26px
    padding-right: 30px
  @media screen and (min-width: mediaQuery__breakP--desktop)
    padding-left: 36px
    padding-right: 40px
