.HomeB
  padding-top: 2%
  display: grid
  grid-template-areas: "carrusel" "info" "md" "sm" "bgcard" "sm1" "sm2" "sm3"
  grid-template-columns: 100%
  grid-template-rows: 50vh 45vh 35vh 35vh 50vh 35vh 35vh 35vh 
  height 350vh
  grid-gap: 1%
  &__carrusel
    grid-area: carrusel
    z-index: 1
  &__sm
    grid-area: sm
    z-index: 1
  &__sm1
    grid-area: sm1
    z-index: 1
  &__sm2
    grid-area: sm2
    z-index: 1
  &__sm3
    grid-area: sm3
    z-index: 1
  &__md
    grid-area: md    
    z-index: 1
  &__cardBg
    height 100%
    padding 1% 0
    grid-area: bgcard
    display: grid
    grid-template-areas: "title" "content" "btn"
    grid-template-rows: 50% 35% 10%
    justify-content: center
    grid-template-columns: 80%
    background-color: primary-color
    color: light-color
    z-index: 1
    &-title
      grid-area: title
      font-family: 'Oswald', sans-serif;
      font-size: 1.5em
    &-text
      grid-area: content
    &-btn
      grid-area: btn
      width 60%
  &__info
    grid-area: info
    z-index: 1

@media (min-width: 768px)
  .HomeB
    height 190vh
    grid-template-areas: "carrusel carrusel" "info md" "info sm" "bgcard bgcard" "sm2 sm3" "sm1 sm1"
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 50vh repeat(5, 25vh)
@media (min-width: 980px)
  .HomeB
    height auto
    grid-template-areas: "carrusel carrusel carrusel sm" "carrusel carrusel carrusel bgcard" "info md md bgcard" "info sm1 sm2 sm3"
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, 25vh)
      