@import "variable"
@import "./components/Header"
@import "./components/Footer"
@import "./components/Form"

body
  margin: 0
#app
  min-height: 100vh
  display: grid
  grid-template-areas: "header" "main" "footer"
  grid-template-rows: minmax(70px,5%) auto minmax(441px, 29%)

@media (min-width: 960px)
  #app
    grid-template-rows: minmax(90px,5%) auto minmax(441px, 29%)