@import url('https://fonts.googleapis.com/css2?family=Lato');

@font-face
  font-family LatoTitle
  font-style bold
  src url(fonts/Lato/Lato-Bold.ttf)

primary-color = #FF565C
dark-color = #1D1F24;
light-color = #FFFFFF
shadow-color = #EBEBEB

h1, h2, h3, h4, h5, h6, p, li
  font-family: 'Lato', sans-serif;
  margin: 0

h1
  font-size: 40px

h2
  font-size: 35px
h3
  font-size: 30px
h4
  font-size: 25px
h5
  font-size: 20px
h6
  font-size: 18px
p
  font-size: 16px

@media (min-width: 960px)
  h1
    font-size: 30px
  h2
    font-size: 25px
  h3
    font-size: 20px
  h4
    font-size: 18px
  h5
    font-size: 16px
  h6
    font-size: 14px
  p
    font-size: 14px