@font-face
  font-family LatoTitle
  font-style bold
  src url(fonts/Lato/Lato-Bold.ttf)

primary-color = #FF565C
dark-color = #1D1F24;
light-color = #FFFFFF
shadow-color = #EBEBEB

h1
  font-size: 40px
  margin: 0
h2
  font-size: 35px
  margin: 0
h3
  font-size: 30px
  margin: 0
h4
  font-size: 25px
  margin: 0
h5
  font-size: 20px
  margin: 0
h6
  font-size: 18px
  margin: 0
p
  font-size: 16px
  margin: 0