@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Oswald');

primary-color = #FF565C
dark-color = #1D1F24;
light-color = #FFFFFF
shadow-color = #EBEBEB

h1, h2, h3, h4, h5, h6, p, li
  font-family: 'Lato', sans-serif;
  margin: 0

h1
  font-size: 40px

h2
  font-size: 35px
h3
  font-size: 30px
h4
  font-size: 25px
h5
  font-size: 20px
h6
  font-size: 18px
p
  font-size: 16px

.action
  display: flex
  justify-content: center
  align-items: center
  background-color: transparentify(dark-color, 0.2)
  &-icon
    display: flex
    justify-content: center
    align-items: center
    margin: 3%
    height 80%
  &-icon:hover
    color: primary-color

.action-white
  display: flex
  justify-content: center
  align-items: center
  &-icon
    display: flex
    justify-content: center
    align-items: center
    margin: 3%
    height 80%
  &-icon:hover
    color: light-color

.styleScroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 30px;
    width: 8px;
    height: 8px;
    background: fade-out(primary-color, 0.8);
  }
  &::-webkit-scrollbar-thumb:hover {
    display: block;
    box-shadow: 0 0 2px 1px fade-out(dark-color, 0.5);
    background: primary-color;
  }
}

.text-Primary
  color: primary-color

@media (min-width: 960px)
  h1
    font-size: 30px
  h2
    font-size: 25px
  h3
    font-size: 20px
  h4
    font-size: 18px
  h5
    font-size: 16px
  h6
    font-size: 14px
  p
    font-size: 14px

a
  text-decoration: none
  color: light-color