// Using with @extend
.labelsAndLinkNav
  font-family: fontFamily--alternative
  font-size: fontSize--small
  text-transform: uppercase
  line-height: 1.5em
  letter-spacing: 0.125em

.resetButtonStyles
  border: none
  background-color: inherit