*
  box-sizing: border-box
  padding: 0
  margin: 0
  margin-block-start: 0
  margin-block-end: 0
  margin-inline-start: 0
  margin-inline-end: 0

body
  font-family: fontFamily--base
  color: rgba(fontColor--base, 70%)
  background-color: bgColor--primary

small
  font-size: fontSize--small

a
  color: fontColor--base
  text-decoration: none
