@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap')

// primitive fonts
fontSize--base = 18px
fontFamily--primary = Lato, sans-serif, Helvetica
fontFamily--secondary = Oswaldo, Arial, serif, 'Times New Roman'

// Brand colors
colorBrand--primary = #1D1F24
colorBrand--secondary = #FF565C
colorLight--primary = #FFFFFF
colorLight--secondary = #F9FAFC
colorDark--primary = colorBrand--primary
colorGray--primary = #EBEBEB


fontSize--smallest = fontSize--base - 6
fontSize--small = fontSize--base - 4
fontSize--logo = fontSize--base + 6
fontSize--titleCard = fontSize--base + 8

fontFamily--base = fontFamily--primary
fontFamily--alternative = fontFamily--secondary
fontFamily--logo = fontFamily--primary

fontColor--base = colorDark--primary
fontColor--alternative = colorLight--primary
fontColor--logo = colorDark--primary

bgColor--primary = colorLight--secondary
bgColor--secondary = colorLight--primary
bgColor--tertiary = colorDark--primary
bgColor__label-category = colorBrand--secondary

padTB-labelCategory = 9px
padLR-labelCategory = 25px
padLR-bodyGen--minTablet = 16px

// For media queries, design mobile first
mediaQuery__breakP--tablet = 767px
mediaQuery__breakP--desktop = 1439px
