@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

oswald-font = 'Oswald', sans-serif
lato-font = 'Lato', sans-serif
grid-background = #f9fafc
dark-font = #24252a
light-font = #d6d6d8
footer-background = #1e1f24
label-background = #ff555a
icons-background = #616266
