@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@300;400;500;700&display=swap')

font1 = 'Lato', sans-serif
font2 = 'Oswald', sans-serif
body
  margin 0
  padding 0
  background-color gray-color
  font-family font1

ul
  li
   list-style none