/***
 *    .█████╗.██████╗.██████╗.
 *    ██╔══██╗██╔══██╗██╔══██╗
 *    ███████║██████╔╝██████╔╝
 *    ██╔══██║██╔═══╝.██╔═══╝.
 *    ██║..██║██║.....██║.....
 *    ╚═╝..╚═╝╚═╝.....╚═╝.....
 *    ........................
 */

@import './Vars.styl'
@import './components/Header.styl'
@import './components/Footer.styl'
@import './components/Grid.styl'
@import './components/Card.styl'


body
  margin : 0
  padding : 0
  width : 100%
  background-color : color-background
  font-family :  font1
  color : textcolor

a
  text-decoration: none
  color: inherit