/***
 *    ██╗...██╗.█████╗.██████╗.███████╗
 *    ██║...██║██╔══██╗██╔══██╗██╔════╝
 *    ██║...██║███████║██████╔╝███████╗
 *    ╚██╗.██╔╝██╔══██║██╔══██╗╚════██║
 *    .╚████╔╝.██║..██║██║..██║███████║
 *    ..╚═══╝..╚═╝..╚═╝╚═╝..╚═╝╚══════╝
 *    .................................
 */

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@500&display=swap');

//Font Variables
font1 = 'Lato', sans-serif
font2 = 'Oswald', sans-serif

//Color Variables
color-brand = #ff565c
color-secondary = color-black
color-background = #f9fafc
color-white = #ffffff
color-black = #1d1f24
textcolor = color-black

//constantes
img-dir = '../static'

